 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 680px;
}

.u-section-1 .u-group-1 {
  width: 415px;
  min-height: 619px;
  background-image: linear-gradient(#9745ff, white);
  margin: 31px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  height: 82px;
  transform-origin: center top 0px;
  top: 14px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-image-1 {
  height: 47px;
  width: 50px;
  transition-duration: 0.5s;
  margin: 31px 116px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -47px 13px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -42px 245px 0 14px;
}

.u-section-1 .u-image-2 {
  height: 168px;
  width: 146px;
  margin: 35px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-2 {
  width: 299px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 33px auto 0 33px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px 33px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 107px 0 258px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin: -24px auto 0 33px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin: 20px auto 0 33px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin: -24px 62px 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin: 20px auto 0 33px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin: -24px 45px 0 auto;
}

.u-section-1 .u-group-2 {
  margin-bottom: 0;
  margin-top: 10px;
  min-height: 40px;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 184px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 13px;
    margin-left: 221px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}