 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/WhatsAppImage2022-01-30at7.03.20PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 590px;
}

.u-section-1 .u-table-1 {
  width: 1202px;
  margin: 43px auto;
}

.u-block-78fc-10 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 11px 73px 12px 72px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 59px 10px 58px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-21 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-22 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-23 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-24 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-25 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-26 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-27 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-78fc-61 {
  height: 46px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-table-1 {
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}